/*
[data-PressKit-Object]::after { 
    content: " [" attr(data-PressKit-Object) "]";
}
*/

div.messageContainer{
	margin-bottom:20px;
}

div.messageContainer:empty {
	margin: 0px;
	height: 0px;
}

.PressKitAjaxSearchResults{
	position: relative;
	top: -2px;
	background: rgba(255,255,255,0.2);
	/*
	height:0px;
	overflow: visible;
	*/
}

.PressKitAjaxSearchResult{
	padding:5px;
	font-size: 13pt;
	border-left:1px #999 solid;
	border-right:1px #999 solid;
	border-bottom:1px #999 solid;
}

.PressKitAjaxSearchResult:last-child{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.PressKitAjaxSearchResult:nth-child(2n){
	background: rgba(255,255,255,0.2);
}

.PressKitAjaxSearchResult:nth-child(2n+1){
	background: rgba(255,255,255,0.5);
}

.PressKitAjaxSearchResult:hover{
	background: rgba(255,255,255,0.3);
}

img.preview {
	width: 55px;
	margin-right:10px;
}

h3 {
	font-size: 19pt;
}

h4 {
	font-size: 15pt;
}

table.packageInfo {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.packageInfo td {
	border-bottom: 1px #999 solid;
}

table.packageInfo td {
	padding-right:10px;
	vertical-align: top;
	word-wrap:break-word;
}

table.PressKitList{
	table-layout:fixed;
	width: 100%;
}

table.PressKitList tr:nth-child(2n+1){
	background:rgba(210, 210, 210, 0.8);
}

table.PressKitList tr:nth-child(2n){
	background:rgba(180, 180, 180, 0.8);
}

table.PressKitList tr:nth-child(1) td
, table.PressKitList tr.buttons div.buttons
, table.PressKitList tr.buttons div.actions{
	padding:2px;
}

table.PressKitList tr.buttons div.actions{
	text-align: left;
}

table.PressKitList  tr:nth-child(1){
	background:rgba(100, 100, 100, 0.8);
	color:#CCC;
}

table.PressKitList tr.buttons{
	background:none;
	color:#444;
	font-size:0.8em;
}

table.PressKitList tr.buttons td{
	padding:0px;
}

table.PressKitList tbody:nth-child(2) tr.buttons:nth-child(2n) div.buttons{
	background:rgba(100, 100, 100, 0.2);
}

table.PressKitList tbody:nth-child(2) tr.buttons:nth-child(2n+1) div.buttons{
	background:rgba(100, 100, 100, 0.2);
}

table.PressKitList tbody:nth-child(2) tr.buttons div.buttons{
	text-align:right;
}

table.PressKitList tr td{
	padding:5px;
	text-align: center;
	width:auto;
}

table.PressKitList tr:not(.buttons) td:nth-child(1):not(.select){
	padding-left:10px;
}

table.PressKitList tr:not(.buttons) td a{
	display:block;
	text-align:center;
	clear:both;
}

.PressKitList col.id {
	max-width:4em;
}

.PressKitList td {
	word-wrap: break-word;
	width:auto;
}

.PressKitList .select{
	width:2em;
}

.PressKitList .id,
.PressKitList .view,
.PressKitList .edit,
.PressKitList .delete {
	width:5em;
}

table.PressKitList tr td:nth-child(2n){
	background:rgba(100, 100, 100, 0.2);
}

div.main {
	width:100%;
}
/*
@media (min-width: 1200px){
	hr{
		margin: 10px;
	}
}
@media (max-width:1199 px) and (min-width: 511px){
	hr{
		margin: 7px;
	}
}
@media (max-width: 510px){
	hr{
		margin: 4px;
	}
}
*/
@media (max-width: 800px){
	table.PressKitList tr td:nth-child(3n){
		background:rgba(100, 100, 100, 0.4);
	}
	table.PressKitList tr td:nth-child(3n+1){
		background:rgba(100, 100, 100, 0.2);
	}
	table.PressKitList tr td:nth-child(3n+2){
		background:transparent;
	}

	table.PressKitList tr :not(.droppable)+.droppable ~ td:nth-child(3n){
		background:transparent;
	}
	table.PressKitList tr :not(.droppable)+.droppable ~ td:nth-child(3n+1){
		background:rgba(100, 100, 100, 0.1);
	}
	table.PressKitList tr :not(.droppable)+.droppable ~ td:nth-child(3n+2){
		background:rgba(100, 100, 100, 0.3);
	}

	table.PressKitList tr .droppable+.droppable ~ td:nth-child(3n){
		background:transparent;
	}
	table.PressKitList tr .droppable+.droppable ~ td:nth-child(3n+1){
		background:rgba(100, 100, 100, 0.1);
	}
	table.PressKitList tr .droppable+.droppable ~ td:nth-child(3n+2){
		background:rgba(100, 100, 100, 0.3);
	}

	table.PressKitList tr .droppable+.droppable+.droppable ~ td:nth-child(3n){
		background:rgba(100, 100, 100, 0.3);
	}
	table.PressKitList tr .droppable+.droppable+.droppable ~ td:nth-child(3n+1){
		background:rgba(100, 100, 100, 0.1);
	}
	table.PressKitList tr .droppable+.droppable+.droppable ~ td:nth-child(3n+2){
		background:transparent;
	}

	.droppable{
		display: none;
	}
}

table.PressKitList:hover{
	color:#444;
}

table.PressKitList tr:hover:not(.buttons) {
	background:rgba(255,255,255, 0.8);
}

table.PressKitList tr:hover:not(.buttons){
	color:#111;
}
table.PressKitList tr:not(.buttons) td:hover{
	color:#000;
	background:rgba(255, 255, 255, 0.15)!important;
}

hr{
	margin: 5px 0;
}

div.PressKitComment div.body {
	word-wrap: break-word;
}

div.header
, div.body{
	padding-left:9px;
	padding-right:9px;
}